.red {
    color: red;
}

.yellow {
    color: yellow;
}

.green {
    color: rgb(122, 231, 122);
}

.darkgreen {
    color: green;
}

.gray {
    color: gray;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

th {
    min-width: 50px;
}